html,
main,
body {
  height: 100%;
}

.app {
  display: block;
  width: 100%;
  height: 100vh; /* not sure how to get this to work as 100% instead of vh */
  overflow: hidden;
  background-color: var(--purple);
  color: white;
}
