.chat-panel {
  height: 70vh;
  padding: 12px;
  color: white;
  font-size: 1rem;
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas;
  text-transform: lowercase;
  font-weight: bold;
}

.username-on-connect {
  color: red;
  font-size: 1rem;
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas;
  font-weight: bold;
}
