.chat-panel {
  height: 70%;
  padding: 12px;
  font-size: 1rem;
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas;
  text-transform: lowercase;
  font-weight: bold;
  line-height: 180%;
  border: 1px solid yellow;
  overflow: auto;
}

.username-on-connect {
  color: red;
  font-size: 1rem;
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas;
  font-weight: bold;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
}

.tab-buttons {
  padding: 0;
  display: block;
  width: 100%;
}

.message-sender-color-undefined {
  color: #e4e736;
}

.message-sender-color-yellow {
  color: #e4e736;
}

.current-chat {
  background-color: var(--almost-black);
 
}

.tab-image {
  width: 15;
  margin-right: 5;
  align-items: center;
}


.message-sender-color-pink {
  color: #eb00ff;
}

.message-sender-color-blue {
  color: #0085ff;
}
